
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


* {
    margin:0;
    padding: 0;
    font-family: "Source Sans Pro", "Lucinda Grande", sans-serif;
}


/*NAVIGATION*/


nav {
    background-color: #C12127;
    color: rgba(255,255,255,0.8);
    padding-top: 15px;
    height: 50px;
  }
  
nav a {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
  }

  .top-links {
    float: right;
    padding: 0;
    margin: 0 20px 0 0;
  }
  
.top-links li {
  display: inline-block;
  margin: 0 10px;
  }

.top-left {
  text-align: center;
  float: left;
  }

.top-left a {
    padding: 0 10px;
    width: 5%;
  }

  
  /*HEADER*/

#header {
  background-image: url("../images/city-scape.svg");
  background-color: rgb(32, 101, 136);
  height: 72vh;
  width: 100%;
  color:white;
  background-position-x: -7vw;
 
  }


  /*HEADER NAVIGATION*/

 #header-nav{
   width: 100%;
   height: 75px;
 }

 .logo-container{
  float: left;
  padding: 14px 12px;
 }

.npm-logo{
  width: 100px;
}


/*SEARCH BAR*/

form.search-bar input[type=text] {
  padding: 11px;
  font-size: 12px;
  border: 1px solid grey;
  float: left;
  width: 70%;
  background:rgb(17, 78, 109);
  margin: 14px 0 14px 7px;
}

form.search-bar button {
  float: left;
  width: 45px;
  padding: 8px 9px 10px;
  background: rgb(17, 78, 109);
  color: white;
  font-size: 15px;
  margin-top: 14px;
  margin-right: 12px;
  border:1px solid grey;
  transition-duration: 0.4s;
}


form.search-bar button:hover{
background-color: rgb(20, 125, 178);
color: black;
}

/*LINKS & BEAR LOGO ON THE RIGHT*/

.header-list{
  display: flex;
  height: 61px;
}

.header-li {
  list-style: none;
  text-align: center;
  padding: 9px 2px 7px 10px;
}

.bear-logo{
  width: 40px;
  padding-top: 5px;
}

.header-li a {
  text-decoration: none;
  color: white;
}

.header-links{
  padding-top: 24px;
}


/*Buttons*/

.button1, .button2, .button3 {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 4px 4px;
  border-radius: 20px;
  transition-duration: 0.4s;
}

.button1 {
  background-color:rgb(240, 146, 51);
}

.button1:hover {
  background-color: rgb(255, 224, 130);
  color: black;
}

.button2 {
  background-color: rgb(203, 56, 55);
}

.button2:hover {
  background-color: rgb(255, 171, 145);
  color: black;

}

.button3 {
 background-color: rgb(49, 68, 88);
 display: inline-block;
}

.button3:hover {
  background-color: rgb(144, 164, 174);
  color: black;
}


/*HEADER BODY*/

#header-body {
  width: 59%;
  height: 75%;
  padding: 29px 19px 19px 62px;
  margin: 0 auto;
}

h1 {
  font-weight: normal;
  display: inline-block;
}

.build-text {
  width: 59%;
}

.build-link{
  display: inline-block;
}


/*COLLABORATION SECTION*/

#collaboration {
  background-color: rgb(39, 53, 71);
  color: white;
  height: 72vh;
  width: 100%;
}

.collab-content {
  margin: 0 auto;
  padding-top: 75px;
  padding-left: 214px;
  display: flex;
  flex-direction: row;
}


/*Collab. Image*/

.img-collab-container {
  width: 465px;
  float: left;
}

.img-collab-container img{
  width: 100%;
}

/*collab text*/

.org-powerful {
  padding-left: 61px;
  padding-top: 20px;
}

.org-powerful h2 {
  width: 70%;
}


.collab-list li {
  margin: 0 0 15px 0;
}

.collab-list {
  margin-left: 30px;
}

.collab-button {
  margin-left: 10px;
}

.collab-link {
  margin-left: 10px;
}

.collab-link a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}



/*WHAT IS SECTION*/

#what-is {
  position: relative;
  background-image: url("../images/forklift.svg");
  background-size: 100% 100%;
  width:100%;
  height: 72vh;
  color: white;
}

.what-is-text {
  position: absolute;
  display: inline-block;
  width: 25%;
  margin: 114px 130px 0 253px;
}


/*BLOCKS Section*/

#blocks {
  width: 100%;
  height: 72vh;
}

.main-text-blocks {
  text-align: center;
  margin-top: 50px;
}

.col {
  display: inline-block;
  width: 33%;
  height: auto;
  text-align: center;
}

.three-blocks {
  margin: 27px 190px;
  display: flex;
  flex-direction: row;
}


.find, .discover, .build {
  width: 231px;
}

.find p a{
  color: rgb(211, 15, 98  );
  text-decoration: none;
}

.blocks-heading {
  text-size-adjust: 20px;
  font-size: 28px;
  font-weight: 100px;
  margin: 30px 0;
}


h3 {
  padding-top: 11px;
}

.blocks-text-center{
  margin: 11px 0 0 0;
}

/*APPLICABLE TO MULTIPLE ITEMS*/

.center {
  margin: 0 auto;
}


h2 {
  font-weight: normal;
}

.top-bottom-align{
  margin: 11px 0 21px 5px;
}



.clearfix {
  clear: both;
}